<%- include('partials/header.ejs') %>

<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
              Nature always wears the colors of the spirit !!🎀✨
            </h3>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1"><%= post.title %></h2>
                <p class="blog-post-meta"><%= post.date %></p>
                <p><%- post.body %></p>
            </article>
        </div>
        
</main>

<%- include('partials/footer.ejs') %>
